<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524208469179-bgqdbj5md5vqrva8qifsd6fo4muct87o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524208469179-bgqdbj5md5vqrva8qifsd6fo4muct87o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>524208469179-3dp2o4c5ksh2hcqt8o8ghhdq7rm19ai1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuqWTl0f2XV4I29vqzpK3FCjsdo-qZVeY</string>
	<key>GCM_SENDER_ID</key>
	<string>524208469179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yohpal.live</string>
	<key>PROJECT_ID</key>
	<string>yohlab</string>
	<key>STORAGE_BUCKET</key>
	<string>yohlab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524208469179:ios:5e7b725d97f4774cffa59e</string>
	<key>DATABASE_URL</key>
	<string>https://yohlab-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>